*.dll
*.obj
*.log
*.tlog
*.lib
*.recipe
*.pdb
*.dll
*.sbr
UpgradeLog.htm
.vs/
binary/
Debug/
Release/
*_Debug/
*_Release/
*.user
/decoders/libFLAC/Release_static/libFLAC_static.vcxproj.FileListAbsolute.txt
